@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<form id="contactForm" asp-action="Index" method="post" novalidate>
    @Html.AntiForgeryToken()
    <div class="hp">
        <label for="website">Laat dit veld leeg</label>
        <input type="text" id="website" name="website" value="" />
    </div>
    <div>
        <label for="Name">Je naam</label>
        <input id="Name" name="Name" placeholder="Naam" tabindex="-1" />
        <div id="nameErr" class="error"></div>
    </div>
    <div>
        <label for="EmailX">E-mail</label>
        <input id="Email" name="Email" placeholder="naam@domein.nl" />
        <div id="emailErr" class="error"></div>
    </div>
    <div>
        <label for="Subject">Onderwerp</label>
        <input id="Subject" name="Subject" placeholder="Onderwerp" />
    </div>
    <div>
        <label for="Message" aria-hidden="true">Bericht</label> 
        <textarea id="Message" name="Message" rows="5" placeholder="Je bericht"></textarea>
        <div id="msgErr" class="error"></div>
    </div>
    <div id="liveStatus"></div>
    <div class="btn-primary btn" role="button" onclick="document.getElementById('contactForm').submit()">
        Versturen
    </div>
</form>