@model Portfoliowebsite.Models.ContactFormulierViewModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<form id="contactForm" asp-action="Index" method="post" novalidate>
    @Html.AntiForgeryToken()
    <div class="hp">
        <label for="website">Laat dit veld leeg</label>
        <input type="text" id="website" name="website" value="" />
    </div>
    <div>
        <label for="Naam">Je naam</label>
        <input asp-for="Naam" id="Naam" name="Naam" placeholder="Naam" tabindex="1"/>
        <span id="nameErr" asp-validation-for="Naam" class="error"></span>
    </div>
    <div>
        <label for="Email">E-mail</label>
        <input asp-for="Email" id="Email" name="Email" tabindex="2" placeholder="naam@domein.nl" />
        <span id="emailErr" asp-validation-for="Email" class="error"></span>
    </div>
    <div>
        <label for="Onderwerp">Onderwerp</label>
        <input asp-for="Onderwerp" id="Onderwerp" name="Onderwerp" tabindex="3" placeholder="Onderwerp" />
        <span asp-validation-for="Onderwerp" class="error"></span>
    </div>
    <div>
        <label for="Bericht">Bericht</label>
        <textarea asp-for="Bericht" id="Bericht" name="Bericht" rows="5" tabindex="4" placeholder="Je bericht"></textarea>
        <span id="msgErr" asp-validation-for="Bericht" class="error"></span>
    </div>
    <div id="liveStatus"></div>
    @if(TempData["ErrorMessage"] != null)
    {
        <div class="error">@TempData["ErrorMessage"]</div>
    }
    <input class="btn-primary btn" id="submit" type="submit" value="Versturen" tabindex="5"/>
      
</form>